@import "../../../styles/variables";
@import "../../../styles/mixins";

.dropdownMenu {
  background: $color-neutral-20;
  padding: 0rem 9.6875rem 0rem;
  transition: all 300ms ease-in-out;
  height: 0px;
  overflow: hidden;
  display: none;

  @include sm-breakpoint {
    display: block;
  }

  &[class~="active"] {
    height: 100%;
    padding-bottom: 5.625rem;
  }

  & > div {
    display: flex;
    gap: 4rem;
    margin: 0 auto 0;
    max-width: 1765px;
    padding-top: 4rem;
    border-top: 1px solid $color-neutral-90;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 110.2%;
    color: $color-white;
    max-width: 200px;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 98.7%;
    color: $color-white;
    margin-bottom: 1.25rem;
  }

  a {
    font-weight: 400;
    line-height: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  & [class~="category-links"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

    & + [class~="category-links"] {
      margin-top: 1.25rem;
    }

    a {
      font-size: 14px;
      color: $color-neutral-99;
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}
