$color-white: #fff;
$color-neutral-20: #323351;
$color-neutral-50: #a1a1a1;
$color-neutral-90: #e0e0e0;
$color-neutral-95: #e3f7ff;
$color-neutral-99: rgba(255, 255, 255, 0.75);
$color-primary-99: #f9f0ee;
$color-primary-90: rgba(255, 255, 255, 0.09);
$color-primary-80: rgba(245, 100, 61, 0.8);
$color-secondary: #84C4EA;
$color-primary: #f5643d;
$color-info: #48c7f3;

$shadow-md: 0px 3.628px 3.628px 0px rgba(0, 0, 0, 0.25);

$smBreakpoint: 640px;
$xxlBreakpoint: 1440px;
